


.tt-menu,
.gist {
    text-align: left;
}
.empty-message{
    padding-left:10px;
    color:black;
}
.tt-menu {
    width: 220px;
    margin: 12px 0;
    padding: 8px 0;
    left: -10px !important;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}


.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 20px;
    color:#000;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}